* {
    font-family: 'Alata', sans-serif;
    font-family: 'Lato', sans-serif;
    font-size: 14px; }

body {
color: #a50202; }

h3 {
color: #300f0f; }

ul {
list-style: none; }
ul li {
    color: chocolate;
    font-size: 2rem; }
    ul li a {
    color: #ec6c85;
    text-decoration: none; }
    ul li a:hover {
        color: darkred; }

h1 {
font-size: 4rem;
font-weight: bolder; }

h2 {
font-size: 2rem;
font-weight: bold; }

p {
font-size: 1rem; }

header * {
font-size: xx-large; }

.estilo-map, .estilo-map--extend {
color: crimson;
text-align: center;
font-size: 2rem;
font-weight: bold; }

.estilo-map--extend {
font-size: 2.5rem;
color: darkred; }

.mixin1 {
height: 3rem;
background-color: #dfbfbf;
padding: 5px; }

.mixin2 {
height: 5rem;
background-color: #9c9c9c;
padding: 10px; }

.imgLogo {
    border-radius: 100%;
}